@font-face {
   src: url('../sources/fonts/Saira/Saira-Regular.ttf');
   font-family: Saira Regular;
}

/* Colors & SIZES */
// $my-font : Saira Regular;

$primary-color : #0E0E52;
$secondary-color : #449DD1;
$grey-text : #3f3b3b;
$l-size : 32px;
$m-size : 20px;
$s-size : 16px;
$xs-size : 14px;



*{
   box-sizing: border-box;
   font-family: Saira Regular;
}
body {
   margin: 0;
   padding: 0;
}
.container {
   width: 60%;
   max-width: 1000px;
   margin: auto auto;
}
footer {
   width: 100%;
   background-color: rgb(74, 0, 224);
   color: white;
   padding: 1rem 0;
   p{
      text-align: center;
      opacity: 0.7;
   }
}
@media (max-width: 1000px) {
   .container {
      width: 100%;
      padding: 0 1rem;
   }

}

@import './Header.scss';
@import './Lectures.scss';
@import './LecturePage.scss';

